<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slp.songwiki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".widget.ArtistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.SongWikiActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
        <activity
            android:name=".ui.activity.ArtistActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>
        <activity android:name=".ui.activity.ArtistSearchResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>

        <provider
            android:name=".data.artist.FavouriteArtistProvider"
            android:authorities="com.slp.songwiki" />

        <provider
            android:authorities="com.slp.songwiki.playlist"
            android:name=".data.playlist.PlaylistProvider"/>

        <activity android:name=".ui.activity.FavouriteArtistActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>
        <activity android:name=".ui.activity.TrackSearchResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>
        <activity
            android:name=".ui.activity.TrackActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>

        <receiver android:name=".widget.ArtistWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.slp.songwiki.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/artist_widget_info" />
        </receiver>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.SongWikiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.SongWikiActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragment.AboutActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" />
    </application>

</manifest>